[package]
name = "std"
root = "."
no_std = true
lib = true
version = "0"

[features]
backtrace = { default = true }
hosted = { default = true }
# TODO: Alloc should not require hosted, but we need a way to override the default allocator
alloc = { default = true, requires = ["hosted"] }
io = { default = true, requires = ["hosted"] }
dw = { default = true, available = "os:linux" }

# In the future, this can move to the build script
[link-libs]
dw = { requires = ["dw"] }
gc = { available = "ctl:gc" }
