[package]
name = "std"
root = "."
no_std = true
lib = true
version = "0"

[features]
backtrace = { default = true, available = "os:linux+arch:x86-64" }
hosted = { default = true }
# TODO: Alloc should not require hosted, but we need a way to override the default allocator
alloc = { default = true, requires = ["hosted"] }
io = { default = true, requires = ["hosted"] }

# In the future, this can move to the build script
[link-libs]
c = { requires = ["hosted"] }
dw = { requires = ["backtrace"], available = "os:linux+arch:x86-64" }
gc = { available = "!ctl:no-gc" }

# constraints
#   arch:<arch>        ; x86,x86-64,arm,arm64,riscv,etc.
#   os:<os>            ; linux,windows,android,ios,macos
#   os-family:<family> ; unix
#   cap:<cap>          ; arch-dependent CPU capability (arch-cap:AVX512  arch-cap:riscv-gc)
#   ctl:<var>          ; some CTL config option (ctl:no-gc)

#   arch:foo,arch:bar  ; A or B
#   arch:foo+os:bar    ; A and B
#   !arch:bar          ; NOT A
#   (arch:bar)         ; grouping
